<div class="container-fluid">
  <div class="box">
    <h1>Quiz</h1>
    <div class="quest" *ngFor="let question of questions; let i of index">
      <h3>{{question.no}}. {{question.question}}</h3> 

        <div class="ans" *ngFor="let option of question.options">
          <input type="radio" (click)="validate(option.optionValue,question.answer,i)" [name]="option.Value" [value]="option"> {{ option.optionText }}
        </div>
        <div *ngIf="correct" class="alert alert-success">
          Correct Answer.
        </div> 
        <div *ngIf="wrong" class="alert alert-danger">
          Wrong Answer.
        </div>

      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" >Answer:</button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> 
        <p>{{question.ans}}</p>
      </div>
    </div>
    <!-- <div (click)="showAnswer(i)">Answer: <p [hidden]="!isAnswerShow">{{question.ans}}</p></div> -->
  <!-- </div>
</div> -->
